@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Админ панель";
}

<link rel="stylesheet" href="~/css/Admin/index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Admin/modal-create-event.css" asp-append-version="true" />

<header class="header">
    <a href="#" class="header__logo">
        <img class="header__logo-img" src="~/img/logo.png" alt="Логотип">
    </a>

    <ul class="header__btn-list">
        <li id="create_enent_btn" class="header__btn-item">
            <button class="header__btn">Создать мероприятие</button>
        </li>
        <li class="header__btn-item">
            <button class="header__btn">Список мест</button>
        </li>
        <li class="header__btn-item">
            <button class="header__btn">Архив мероприятий</button>
        </li>
    </ul>


    <div class="header__info">
        <h1 class="header__title">Панель администратора</h1>
        <h3 class="header__subtitle">Название музея</h3>
    </div>
    <button class="header__burger-munu">
        <img src="../img/burger-menu.svg" alt="">
    </button>
    <div class="header__avatar">
        <img class="header__avatar-img" src="~/img/avatar.png" alt="аватарка">
    </div>

</header>

<main id="main" class="main">
    <section class="client-info">
        <div class="client-info__header">
            <h2 class="client-info__title">Информация о клиентах</h2>
            <div class="client-info__search">
                <input class="client-info__search-input" placeholder="Поиск" type="text">
                <button>
                    <img class="client-info__search-img" src="~/img/search.svg" alt="Иконка поиска">
                </button>
            </div>
        </div>

        <div class="mobile-table">
            <table id="client_info_table" class="client-info__table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>E-mail</th>
                        <th>Телефон</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-cell="id">1</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">2</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">3</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">4</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">5</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">6</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">7</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">8</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">9</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">10</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">11</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">12</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">13</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>

                    <tr>
                        <td data-cell="id">14</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">15</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">16</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">17</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                    <tr>
                        <td data-cell="id">18</td>
                        <td data-cell="Фамилия">Иванов</td>
                        <td data-cell="Имя">Иван</td>
                        <td data-cell="Отчество">Иванович</td>
                        <td data-cell="E-mail">ivanivanovich3123@mail.ru</td>
                        <td data-cell="Телефон">8(800)555-35-35</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="event_info" class="event-info">
        <h2 class="event-info__title">Мероприятия клиента <span id="current_event_id"></span></h2>
        <ul class="event-info__list">
            <li class="event-info__item">
                <p class="event-info__museum-name">Название музея</p>
                <p class="event-info__name">Название мероприятия</p>
                <p class="event-info__time">Время</p>
            </li>
            <li class="event-info__item">
                <p class="event-info__museum-name">Название музея</p>
                <p class="event-info__name">Название мероприятия</p>
                <p class="event-info__time">Время</p>
            </li>
            <li class="event-info__item">
                <p class="event-info__museum-name">Название музея</p>
                <p class="event-info__name">Название мероприятия</p>
                <p class="event-info__time">Время </p>
            </li>
        </ul>
    </section>

    <div id="create_event" class="create-event create-event">
        <div class="create-event__wrapper">
            <button id="create_event_close_btn" class="create-event__close">
                <img src="../img/close.png" alt="закрыть">
            </button>
            <div class="create-event__content">
                <h3 class="create-event__title">Создать мероприятие</h3>
                <form class="create-event__form form" enctype="multipart/form-data" action="">
                    <h5 class="form__title">Информация о мероприятии</h5>
                    <div class="form__wrapper">
                        <select required class="form__museum" name="museum" id="">
                            <option disabled selected hidden value="">Выбрать музей организатор</option>
                            <option value="">Какой-то музей</option>
                            <option value="">Какой-то музей</option>
                        </select>
                        <input required class="form__event-name" placeholder="Название мероприятия" name="event-name" type="text">
                        <input required class="form__date" placeholder="Дата проведения" name="date" type="text">
                        <input required class="form__time" placeholder="Время проведения" name="time" type="text">
                        <input required min="0" class="form__age" placeholder="Возрастной рейтинг" name="age" type="number">
                        <label class="form__price" for="">
                            <p class="form__price-text">Цена билета</p>
                            <div class="form__price-wrapper">
                                <input required min="0" class="form__full-price" placeholder="Полный" name="" type="number">
                                <input min="0" class="form__preferential-price" placeholder="Льготный" name="" type="number">
                                <input min="0" class="form__elderly-price" placeholder="Пожилой" name="" type="number">
                            </div>
                        </label>
                        <input required class="form__img" placeholder="Номер телефона" name="" type="file" multiple="multiple">

                        <label class="form__comment-wrapper" for="">
                            Комментарий к мероприятию
                            <textarea class="form__comment" name="" id=""></textarea>
                        </label>
                    </div>
                    <input class="form__submit-btn" type="submit" name="" value="Записаться">
                </form>
            </div>
        </div>
    </div>
</main>

<script src="~/js/Admin/index.js"></script>
<script src="~/js/Admin/modal-create-event.js"></script>